.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.body {
  margin-top: 85px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchbar {
    border-radius: 25px;
    background-color: rgb(233, 232, 231);
    border-color: transparent;
    padding: 18px; 
    width: 900px;
    height: 8px;
    outline: none;
    font-size: large;
}

.searchbar:hover {
  background-color: rgb(201, 200, 200);
}

.HomeButton {
  border-radius: 25px;
    padding: 0px; 
    width: 90px;
    height: 48px;
    outline: none;
    font-size: large;
    background-color: black;
    color: white;
    border-color: transparent;
}

.TodayButton {
  border-radius: 25px;
    padding: 0px; 
    width: 90px;
    height: 48px;
    outline: none;
    font-size: large;
    color: rgb(0, 0, 0);
    border-color: transparent;
    background-color: transparent;
}

.TodayButton:hover {
  background-color: rgb(223, 221, 221);
  color: black;
}

.pinCard {
 border-radius: 25px;
    border: 2px;
    background-color:rgb(190, 190, 190);
    /* padding: 20px;  */
    width: 250px;
    height: 400px;
    outline: none;
    font-size: large;
    display: inline-grid;
    margin-left: .5cm;
    transition: 0.4s ease-out;
}

.pinCard:hover {
  background-color: rgb(17, 15, 17);
  color: black;
}

.pinImage {
  border-radius: 25px;
}

.TopBar {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 20px;
  background-color: white;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
}

.FooterBar {
  position: fixed;
  width: 100%;
  background-color: transparent;
  padding-bottom: 15px;
  display: grid;
  bottom:0;
  right:0;
text-align: right;
/* vertical-align: middle; */
}

